<div class="row">
    <h2> Temperature</h2>
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels7Day"
        [colors]="chartColors" [options]="chartOptions">
    </canvas>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm">Last 7 day</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" >Last Month</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm">Last Year</button>
            </div>
        </div>

    </div>



</div>
<div class="row">
    <h2> Humidity</h2>
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels7Day" [colors]="chartColors"
        [options]="chartOptions">
    </canvas>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm">Last 7 day</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" >Last Month</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm">Last Year</button>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <h2>Air Quality </h2>
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels7Day" [colors]="chartColors"
        [options]="chartOptions">
    </canvas>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm">Last 7 day</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" >Last Month</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-sm">Last Year</button>
            </div>
        </div>

    </div>

</div>